# Utilizamos Machine Learning para predecir salario

En este tutorial utilizaremos diferentes algoritmos de Machine Learning para predecir si una persona es mayor o no a $50K anuales.

Para ello, utilizaremos el dataset de un censo que recopiló Berry Becker en 1994. Los datos los podéis encontrar [aquí](https://archive.ics.uci.edu/ml/datasets/Census+Income)

## Descripción del dataset

El censo contiene datos de 45.222 personas residentes en Estados Unidos.

Las variables que contiene la tabla son las siguientes:
| Nombre columna  | Descripción  | Tipo de variable  | Contiene NAs | 
|---|---|---|---|
| age  | Edad del usuario  | VI, Numérica (Continua)  |   |
| workclass  | Categoría del cargo de trabajo  | VI, Categórica (Ordinal)  |
| education_level  | Nivel máximo de estudios completados  | VI,Categórica  |
| education_num  | Nivel máximo de estudios completados | VI, Numérica (Ordinal)  |   |
| marital-status  | Estado civil  | VI, Categórica  |   |
|  occupation | Puesto laboral  | VI, Categórica  |   |
| relationship  | Indica con quién vive el usuario  |  VI, Categórica  |   |
| race  | Raza  | VI, Categórica  |   |
| sex  | Género  | VI, Categórica   |   |
| capital-gain | Ingresos  | VI, Numérica (Continua)  |   |
| capital-loss  | Gastos  | VI, Numérica (Continua)  |   |
|  hours-per-week | Horas semanales trabajadas  | VI, Numérica (Continua)  |   |
|  native-country | País de nacimiento  | VI, Categórica  |   |
|  income | Categoría del sueldo anual  | VD, Categórica  |   |

In [2]:
import pandas as pd

from sklearn.linear_model import Lasso

In [3]:
data = pd.read_csv('census.csv')

In [5]:
data.shape

(45222, 14)

In [4]:
data.head()

,age,workclass,education_level,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
2,38,Private,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
3,53,Private,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
4,28,Private,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K

In [11]:
data.groupby('education_level')['education-num'].unique().sort_values()

education_level
 Preschool        [1.0]
 1st-4th          [2.0]
 5th-6th          [3.0]
 7th-8th          [4.0]
 9th              [5.0]
 10th             [6.0]
 11th             [7.0]
 12th             [8.0]
 HS-grad          [9.0]
 Some-college    [10.0]
 Assoc-voc       [11.0]
 Assoc-acdm      [12.0]
 Bachelors       [13.0]
 Masters         [14.0]
 Prof-school     [15.0]
 Doctorate       [16.0]
Name: education-num, dtype: object